body {
  width: 300px;
  /* TODO: Make the height responsive? */
  height: 380px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* flex: auto; */
  /* position: relative; */
  /* position: relative; */
}
